<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="name-card">
        <div class="name-card__content-left">
          <img src="/assets/meo1.jpg" alt="Logo" class="name-card__avatar">
        </div>
        <div class="name-card__content-right">
          <h3 class="name-card__heading" style="color: purple">{{ cardName }}</h3>
          <p class="name-card__text" style="color: deeppink">{{ email }}</p>
          <p class="name-card__text">{{ phone }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
